# Strict peer dependencies
strict-peer-dependencies=false

# Hoist node_modules to root
shamefully-hoist=false

# Auto install peers
auto-install-peers=true

# Public hoist pattern
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
